
h2 {
    color: black;
    background-color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 50px;
    padding: 40px;
    border-style: solid;
    border-width: 2px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: black; 
}

h3 {
    color: black;
    font-family: Arial, Helvetica, sans-serif
}
p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
img {
    border-radius: 50%;
    margin-left: 660px;
    margin-right: 600px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    position: relative;
}
.cvPicture {}

#intro {
    color: black;
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#menu {color: black;
       background-color: grey;
       font-family: Arial, Helvetica, sans-serif; 
       text-align: center;
       padding: 3px;
       margin-left: 50px;
       margin-right: 50px
       border-width: 1px;
       border-right-width: 5px;
       border-left-width: 5px;
       position: absolute;
}

#education {
    margin-left: 100px;

}
#experience {
    margin-left: 100px;
           
}
#skills {
    margin-left: 100px;
}
#interests {
    margin-left: 100px

}
h3 {
    color: black;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    text-align: left;
}

footer {color: black;
        background-color: lightgray; 
        border-style:solid;
        border-color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}

#contactme {
    font-family: Arial, Helvetica, sans-serif;
}

form {display: flex;
    flex-direction: column;
    margin-right: 5px;
    margin-bottom: 5px;
}



