h1 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgrey;
    margin-bottom: 0px;
}

h2 {
    color: black;
    background-color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-right: 5000px;
    padding: 20px;
    border-style: solid;
    border-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-color: black; 
    width: 500px;
    height: 30px;
    border-radius: 25px;
}

h5 {
    background-color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-right: 15%;
}
img {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    position: relative;   
}
#picture {
    display: flex;
    justify-content: center;
}



#intro {
    color: black;
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#menu {color: black;
       background-color: grey;
       font-family: Arial, Helvetica, sans-serif; 
       text-align: center;
       padding: 3px;
       margin-left: 50px;
       margin-right: 50px
       border-right-width: 2px;
       border-left-width: 2px;
       position: absolute;
}

#education {
    margin-left: 230px ;

}
#experience {
    margin-left: 230px;
           
}
#skills {
    margin-left: 230px;
}
#interests {
    margin-left: 230px

}
h3 {
    color: black;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
    text-align: center;
    margin-left: 10%;
    }


h4 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    text-align: left;
}

footer {
        color: black;
        background-color: whitesmoke; 
        border-style:solid;
        border-color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 0px;
        margin-bottom: 0px;
}



#contactme {
        font-family: Arial, Helvetica, sans-serif;
}
#contactMe {
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
    
}

form {
        display: flex;
        flex-direction: column;
        margin-right: 75%;
        margin-bottom: 5px;
        margin-left: 25px;
}

div {margin-left: 10px;
}



